<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style/bootstrap.min.css">
    <link rel="stylesheet" href="style/all.min.css">
    <link rel="stylesheet" href="style/all.css">
    <link rel="stylesheet" href="/style/owl.carousel.min.css">
    <link rel="stylesheet" href="/style/lpTabs.css">
    <link rel="stylesheet" href="/style/magnific-popup.css">
    <link rel="stylesheet" href="/style/wi-feedback.min.css">
    <link rel="stylesheet" href="/style/style.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <section class="section">
            <h1 class="logo">Spandora</h1>
            <nav class="topNav" id="myTopNav">
                <a href="#slideshow">Главная</a>
                <a href="#services">Услуги</a>
                <a href="#masters">Мастера</a>
                <a href="#price">прайс</a>
                <a href="#reviews">Отзывы</a>
                <a href="#contacts">Контакты</a>
                <a href="#" id="menu" class="icon">&#9776;</a>
            </nav>
        </section>
    </header>
    <main>
        <section id="slideshow">
            <div class="lp-content">
                <div class="owl-carousel lp-slider1">
                    <div class="slider slider1">
                        <div class="section">
                            <h2>SPA для двоих</h2>
                            <p>Только до конца ноября действует 40% скидка на все виды услуг для пар. Не упустите возможность отлично провести время со своей второй половинкой</p>
                            <a href="#service1" class="lp-mfp-inline btn btn-primary btn2">подробнее</a>
                            <a href="" class="lp-fb1-linc btn btn-primary">Заказать <br> консультацию...</a>
                        </div>
                    </div>
                    <div class="slider slider2">
                        <div class="section slider_section">
                            <h2>SPA для двоих</h2>
                            <p>Только до конца ноября действует 40% скидка на все виды услуг для пар. Не упустите возможность отлично провести время со своей второй половинкой</p>
                            <a href="#service2" class="lp-mfp-inline btn btn-primary btn2">подробнее</a>
                            <a href="#consultation" class="lp-mfp-inline btn btn-primary">Заказать <br> консультацию...</a>
                        </div>
                    </div>
                    <div class="slider slider3">
                        <div class="section">
                            <h2>SPA для двоих</h2>
                            <p>Только до конца ноября действует 40% скидка на все виды услуг для пар. Не упустите возможность отлично провести время со своей второй половинкой</p>
                            <a href="#service3" class="lp-mfp-inline btn btn-primary btn2">подробнее</a>
                            <a href="#consultation" class="lp-mfp-inline btn btn-primary">Заказать <br> консультацию...</a>
                        </div>
                    </div>
                    <div class="slider slider4">
                        <div class="section">
                            <h2>SPA для двоих</h2>
                            <p>Только до конца ноября действует 40% скидка на все виды услуг для пар. Не упустите возможность отлично провести время со своей второй половинкой</p>
                            <a href="#service4" class="lp-mfp-inline btn btn-primary btn2">подробнее</a>
                            <a href="#consultation" class="lp-mfp-inline btn btn-primary">Заказать <br> консультацию...</a>
                        </div>
                    </div> 
                    <div class="slider slider5">
                        <div class="section">
                            <h2>SPA для двоих</h2>
                            <p>Только до конца ноября действует 40% скидка на все виды услуг для пар. Не упустите возможность отлично провести время со своей второй половинкой</p>
                            <a href="#service5" class="lp-mfp-inline btn btn-primary btn2">подробнее</a>
                            <a href="#consultation" class="lp-mfp-inline btn btn-primary">Заказать <br> консультацию...</a>
                        </div>
                    </div>
                </div> 

            </div>
        </section>
        <section class="services" id="services">
            <div class="background">
                <div class="section">
                    <div class="lp-content">
                        <div class="lp-services">
                            <div class="services1 " title="шоколадное обертывание">
                                <div class="serv1">
                                    <div class="servis__element">
                                        <img src="/img/services/shokolate/shokolate.jpg" alt="скраб" >
                                        <span>
                                        <h3>Скрабирование</h3>
                                        <p>
                                            Чтобы кожа получила максимум полезных веществ во время обертывания, она нуждается в тщательной подготовке. Скрабирование как раз решает эту задачу: удаляет ороговевшие клетки и выравнивает поверхность кожи.</p>
                                        </span>
                                    </div>
                                    <div class="servis__element">
                                        <img src="/img/services/shokolate/shokolate2.jpg" alt="обертывание">
                                        <span>
                                        <h3>Шоколадное обертывание</h3>
                                        <p>
                                                Будет много шоколада! Мастер нанесет на тело шоколадную массу, которая содержит витамины A, B, B2, F, PP и полезные микроэлементы: железо, цинк, фосфор, калий и магний. Затем гостя обернут пленкой и оставят в полном покое, пока «работает» состав. Аромат обещаем необыкновенный, а атмосферу спокойную и умиротворяющую.</p>
                                        </span>
                                    </div>
                                    <div class="servis__element">
                                        <img src="/img/services/shokolate/kreme.jpg" alt="крем">
                                        
                                    <span>
                                        <h3>Увлажняющий крем</h3>
                                        <p>Когда обладатель сертификата смоет шоколадную массу в душе, можно приступать к завершающему этапу — легкому массажу с увлажняющим кремом. На этом этапе кожа насыщается питательными веществами и оборачивается в тонкий шлейф нежного, сладкого аромата.</p>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="services2" title="различные ванны">
                                <div class="serv2">
                                    <div class="bath cleopatre_bath">
                                        <h3>Молочная ванна</h3>
                                        <p>Ванна с молоком влияет на разные системы организма, но наибольший ее эффект сказывается на кровеносной системе и коже:
                                        в молочной ванне кровообращение стимулируется,
                                        клетки кожи обогащаются минеральными и питательными веществами.
                                        все это приводит к стимуляции метаболических процессов, включая жировой обмен (по этой причине молочная ванна часто применяется для похудения).
                                        витамины и другие полезные вещества из молока во время водной процедуры попадают в кожу, освежая и подтягивая ее. Результатом также будет выравнивание мелких морщин, повышение эластичности и увлажнение кожи.</p>
                                    </div>
                                    <div class="bath oils_bath">
                                        <h3>Успокаивающая ванна</h3>
                                        <p>
                                            Найдите время, чтобы успокоить свою нервную систему и обрести гармонию души и тела. Ведь погружаясь в теплую воду, тонус организма повышается, снимается напряженность мышц и нормализуется кровообращение. Так же очищаются поры, кожа начинает дышать, принимая все больше полезных веществ находящихся в воде. А растворяя в ванной разнообразные добавки, на натуральной основе, Вы получаете лечебный и косметический эффект одновременно.


                                        </p>
                                    </div>
                                    <div class="bath mud_bath">
                                        <h3>грязевая Ванна</h3>
                                        <p>Грязевая ванна дарит приятное чувство расслабления. Лечебная грязь действует на организм, как термический, механический и химический раздражитель. Происходят изменения в нервной и сердечно-сосудистой системе, в коже, составе крови и обменных процессах. Под воздействием процедуры повышается кровяное давление, в начале процедуры учащается дыхание и улучшается кровообращение. В начале лечебного курса может несколько обостриться хроническое течение болезни, поскольку активизируется обмен веществ. Раздражение множества кожных рецепторов теплой грязью усиливает процессы торможения в коре головного мозга, чем объясняется сонливость пациента во время процедуры и особенно после процедуры.</p>
                                    </div>
                                </div>    
                            </div>
                            <div class="services3" title="тайский массаж">
                                <h3>тайский массаж</h3>
                                    <div class="services3_block">
                                        <img src="/img/taiskiy/maxresdefault.jpg" alt="мастер">
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi mollitia recusandae libero. Nesciunt nostrum iusto cum dolores exercitationem! Suscipit eveniet illo voluptatem tempora laboriosam aperiam impedit aliquam exercitationem explicabo similique? Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem excepturi, magnam natus fugit odio error optio perspiciatis quo omnis aperiam ducimus ipsam ex, dolorum harum neque, iste beatae quos vero.</p>
                                    </div>
                                    <div class="services3_block">
                                        <img src="/img/taiskiy/4060d957_z.webp" alt="master2">
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi mollitia recusandae libero. Nesciunt nostrum iusto cum dolores exercitationem! Suscipit eveniet illo voluptatem tempora laboriosam aperiam impedit aliquam exercitationem explicabo similique? Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem excepturi, magnam natus fugit odio error optio perspiciatis quo omnis aperiam ducimus ipsam ex, dolorum harum neque, iste beatae quos vero.</p>
                                    </div>
                                    <div class="services3_block">
                                        <img src="/img/taiskiy/taiskiy.webp" alt="массаж">
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi mollitia recusandae libero. Nesciunt nostrum iusto cum dolores exercitationem! Suscipit eveniet illo voluptatem tempora laboriosam aperiam impedit aliquam exercitationem explicabo similique? Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem excepturi, magnam natus fugit odio error optio perspiciatis quo omnis aperiam ducimus ipsam ex, dolorum harum neque, iste beatae quos vero.</p>
                                    </div>
                            </div>
                            <div class="services4" title="услуги для пар">
                                <h3>услуги для пар</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error et neque porro doloribus aliquam saepe amet voluptates distinctio quis, dolorum nisi sunt, ut quidem odit minus repellendus temporibus velit assumenda!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="masters" id="masters">
            <div class="section">
                <h2>Наши мастера</h2>
                <div class="cards">
                    <div class="card">
                        <div class="img"></div>
                        <h3>Тайя Маркс</h3>
                        <p>первоклассный специалист по тайскому массжу</p>
                        <a href="#master1"  class="lp-mfp-inline btn btn-primary">подробнее о мастере</a>
                    </div>
                    <div class="card">
                        <div class="img"></div>
                        <h3>Морена Вай</h3>
                        <p>специалист точечного массажа</p>
                        <a href="#master2"  class="lp-mfp-inline btn btn-primary">подробнее о мастере</a>
                    </div>
                    <div class="card">
                        <div class="img"></div>
                        <h3>Алисa Крылова</h3>
                        <p>специалист по Йоге</p>
                        <a href="#master3" class="lp-mfp-inline btn btn-primary">подробнее о мастере</a>
                    </div>
                    <div class="card">
                        <div class="img"></div>
                        <h3>Морена Вай</h3>
                        <p>специалист точечного массажа</p>
                        <a href="#master4"  class="lp-mfp-inline btn btn-primary">подробнее о мастере</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="price" id="price"  data-offset="44" ng-app="lpApp" ng-controller="lpPriceCtrl">
            <div class="section">
                <div class="lp-content">
                    <h2>ПРАЙС ЛИСТ</h2>
                    <p  class="lp-prices-loader" ng-hide="prices || reqStatus|| reqStatusText">
                        <i class="fa fa-spider"></i>
                    </p>
                    <table class="table table-bordered table-striped" ng-show="prices">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th ng-click="sortSet('name')">
                                    <span> Наименование</span>
                                    <i class="fa fa-sort" ng-hide="sortBy=='name'"></i>
                                    <i class="fa fa-sort-up" ng-hide="sortBy !='name'|| sortRev"></i>
                                    <i class="fa fa-sort-down" ng-hide="sortBy!='name'|| !sortRev"></i>
                                </th>
                                <th ng-click="sortSet('price')">
                                    <span>цена </span>
                                    <i class="fa fa-sort" ng-hide="sortBy=='price'"></i>
                                    <i class="fa fa-sort-up" ng-hide="sortBy !='price'|| sortRev"></i>
                                    <i class="fa fa-sort-down" ng-hide="sortBy !='price'|| !sortRev"></i>
                                </th>
                                <th ng-click="sortSet('discount')">
                                    <span>скидка</span>
                                    <i class="fa fa-sort" ng-hide="sortBy=='discount'"></i>
                                    <i class="fa fa-sort-up" ng-hide="sortBy !='discount' || sortRev"></i>
                                    <i class="fa fa-sort-down" ng-hide="sortBy !='discount' || !sortRev"></i>
                                </th>
                                <th ng-click="sortSet('price2')"><span>цена со скидкой</span>
                                    <i class="fa fa-sort" ng-hide="sortBy=='price2'"></i>
                                    <i class="fa fa-sort-up" ng-hide="sortBy !='price2'|| sortRev"></i>                                        
                                    <i class="fa fa-sort-down" ng-hide="sortBy !='price2'|| !sortRev"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="price in prices | orderBy:sortBy:sortRev">
                                <td>{{ $index+1 }}</td>
                                <td>
                                    <span>{{ price.name }}</span>
                                    <i class="fa fa-tag" ng-show="price.discount"></i>
                                </td>
                                <td>{{ price.price | currency}}</td>
                                <td>
                                    <span ng-show="price.discount">{{ price.discount*100|number:0 }}%</span>
                                    <span ng-hide="price.discount">-</span>                                    </td>
                                <td>{{ price.price2| currency }}</td>
                             </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <section class="reviews" id="reviews">
            <div class="section">
                <h2>Reviews <br> section</h2>
                <div class="lp-content">
                    <div class="owl-carousel lp-slider2">
                        <div class="slideer2 sl1">
                            <div class="person_reviews">
                                <div class="img"></div>
                                <span>
                                    <p>Ольга Крылова</p>
                                    <a href="#">@olgaCrylova</a>
                                </span>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est odit voluptatum autem ipsa, iusto neque veniam, repellat cum amet delectus molestiae magni, animi quod doloremque eos adipisci officiis dolor porro!</p>
                        </div>
                        <div class="slideer2 sl2">
                            <div class="person_reviews">
                                <div class="img"></div>
                                <span>
                                    <p>Ольга Крылова</p>
                                    <a href="#">@olgaCrylova</a>
                                </span>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, non officiis rem temporibus labore distinctio saepe veritatis, ipsam officia sunt perferendis voluptatem! Exercitationem hic tempore reprehenderit eos temporibus tenetur molestias!</p>
                        </div>
                        <div class="slideer2 sl3">
                            <div class="person_reviews">
                                <div class="img"></div>
                                <span>
                                    <p>Ольга Крылова</p>
                                    <a href="#">@olgaCrylova</a>
                                </span>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, non officiis rem temporibus labore distinctio saepe veritatis, ipsam officia sunt perferendis voluptatem! Exercitationem hic tempore reprehenderit eos temporibus tenetur molestias!</p>    
                        </div>
                        <div class="slideer2 sl4">
                            <div class="person_reviews">
                                <div class="img"></div>
                                <span>                                        <p>Ольга Крылова</p>
                                    <a href="#">@olgaCrylova</a>
                                </span>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora, similique. Consequatur iure eligendi hic incidunt, ipsa fugiat inventore optio accusantium suscipit. Quo ipsa labore, eos nostrum illo reprehenderit quas similique.</p>
                        </div>
                        <div class="slideer2 sl5">
                            <div class="person_reviews">
                                <div class="img"></div>
                                <span>
                                    <p>Ольга Крылова</p>
                                    <a href="#">@olgaCrylova</a>
                                </span>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis repellendus pariatur harum facilis molestias quod itaque? Necessitatibus omnis et animi quam doloribus iusto soluta dicta at? Inventore pariatur temporibus beatae?</p>
                        </div>
                        <div class="slideer2 sl6">                            
                            <div class="person_reviews">
                                <div class="img"></div>
                                <span>
                                    <p>Ольга Крылова</p>
                                    <a href="#">@olgaCrylova</a>
                                </span>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus cumque porro voluptates deserunt distinctio pariatur iste, beatae mollitia autem ipsa perspiciatis libero provident vel nam sapiente unde in at blanditiis!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="contacts" id="contacts">
            <div class="section">
                <div id="maps"></div>
                <div class="contact">
                    <div class="container">
                        <div class="box">
                            <div class="icon2">
                                <i class="fa fa-map-marker"></i>
                                <h4>Адрес</h4>
                                <h5>Минск, пеpеулок Ленина 14а</h5>
                            </div>
                        </div>
                        <div class="box">
                            <div class="icon2">
                                <i class="fa fa-phone-square"></i>
                                <h4>Телефон</h4>
                                <h5>+375 33 333 33 33</h5>
                            </div>
                        </div>
                        <div class="box">
                            <div class="icon2">
                                <i class="fa fa-envelope"></i>
                                <h4>Электронная почта</h4>
                                <h5>spandora@gmail.com</h5>
                            </div>
                        </div>
                    </div>
                    <form action="" id="lp-fb">
                        <h4>Заказать звонок</h4>
                        <input type="tel" class="phone" placeholder="+375-XX-XXX-XX-XX">
                        <input type="text" class="text" placeholder="ваше имя">
                        <input type="text" class="text" placeholder="что вас интересует?" >
                        <a href="#" class="lp-fb2-linc btn btn-primary">Заказать</a>
                    </form>
                </div>
            </div>
            <footer>
                <div class="section">
                    <h1 class="logo">Spandora</h1>
                    <h3>МИНСК</h3>
                    <h3>+375(33)333-33-33</h3>
                </div>
            </footer>
        </section>
    </main>
    <div id="master1" class="mfp-hide lp-popup">
        <h2>Тайя Маркс</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Aperiam deserunt beatae voluptatum error voluptate eaque 
            mollitia pariatur fugit, debitis praesentium laborum dicta 
            at omnis quod in veritatis, ea repudiandae dolor.</p>
    </div>
    <div id="master2" class="mfp-hide lp-popup">
            <h2>Морена Вай</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Aperiam deserunt beatae voluptatum error voluptate eaque 
            mollitia pariatur fugit, debitis praesentium laborum dicta 
            at omnis quod in veritatis, ea repudiandae dolor.</p>
    </div>
    <div id="master3" class="mfp-hide lp-popup">
            <h2>Алисa Крылова</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Aperiam deserunt beatae voluptatum error voluptate eaque                 
            mollitia pariatur fugit, debitis praesentium laborum dicta 
            at omnis quod in veritatis, ea repudiandae dolor.</p>
    </div>
    <div id="master4" class="mfp-hide lp-popup">
            <h2>Морена Вай</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Aperiam deserunt beatae voluptatum error voluptate eaque 
            mollitia pariatur fugit, debitis praesentium laborum dicta 
            at omnis quod in veritatis, ea repudiandae dolor.</p>
    </div>
    <div id="service1" class="mfp-hide lp-popup">
        <h2>Услуга со слайда №1</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Aperiam deserunt beatae voluptatum error voluptate eaque 
        mollitia pariatur fugit, debitis praesentium laborum dicta 
        at omnis quod in veritatis, ea repudiandae dolor Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam, et neque tempore ratione nihil, excepturi fugiat doloribus cum obcaecati doloremque ducimus, aliquid laboriosam. Aliquam, rerum esse. Tempora officia magni nulla.</p>
    </div>
    <div id="service2" class="mfp-hide lp-popup">
        <h2>Услуга со слайда №2</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Aperiam deserunt beatae voluptatum error voluptate eaque 
        mollitia pariatur fugit, debitis praesentium laborum dicta 
        at omnis quod in veritatis, ea repudiandae dolor Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam, et neque tempore ratione nihil, excepturi fugiat doloribus cum obcaecati doloremque ducimus, aliquid laboriosam. Aliquam, rerum esse. Tempora officia magni nulla.</p>
    </div>
    <div id="service3" class="mfp-hide lp-popup">
        <h2>Услуга со слайда №3</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Aperiam deserunt beatae voluptatum error voluptate eaque 
        mollitia pariatur fugit, debitis praesentium laborum dicta 
        at omnis quod in veritatis, ea repudiandae dolor Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam, et neque tempore ratione nihil, excepturi fugiat doloribus cum obcaecati doloremque ducimus, aliquid laboriosam. Aliquam, rerum esse. Tempora officia magni nulla.</p>
    </div>
    <div id="service4" class="mfp-hide lp-popup">
        <h2>Услуга со слайда №4</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Aperiam deserunt beatae voluptatum error voluptate eaque 
        mollitia pariatur fugit, debitis praesentium laborum dicta 
        at omnis quod in veritatis, ea repudiandae dolor Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam, et neque tempore ratione nihil, excepturi fugiat doloribus cum obcaecati doloremque ducimus, aliquid laboriosam. Aliquam, rerum esse. Tempora officia magni nulla.</p>
    </div>
    <div id="service5" class="mfp-hide lp-popup">
        <h2>Услуга со слайда №5</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Aperiam deserunt beatae voluptatum error voluptate eaque 
        mollitia pariatur fugit, debitis praesentium laborum dicta 
        at omnis quod in veritatis, ea repudiandae dolor Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam, et neque tempore ratione nihil, excepturi fugiat doloribus cum obcaecati doloremque ducimus, aliquid laboriosam. Aliquam, rerum esse. Tempora officia magni nulla.</p>
    </div>
    <div id="lp-fb1" class="mfp-hide lp-popup">
        <h2>Заказать Консультацию</h2>
        <p>Заполните контактные данные, и мы свяжемся с вами в кратчайшие сроки:</p>
        <input type="text" maxlength="50" name="Имя" placeholder="Ваше Имя..." />
        <input type="tel" maxlength="50" name="Телефон" placeholder="Ваш Телефон..." required />
        <button class=" btn btn-primary">Перезвоните мне</button>
    </div>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-locale_ru-by.js"></script>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/lpTab.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/navScript.js"></script>
    <script src="js/wi-feedback.min.js"></script>
    <script src="js/wi-feedback.js"></script>
    <script src="js/script.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&onload=jQuery.fn.lpMapInit" type="text/javascript" async></script>
</body>
</html>